/target/
__pycache__
.ipynb_checkpoints
.DS_Store
.idea
.iml
run.txt
main.build.log
Info.plist
flecsneurt-demo*
model.best*
collections/squad
collections/msmarco_doc
lemur-code-r2792-RankLib-trunk/target
pytorch-pretrained-BERT-mod
trec_eval-9.0.7
scripts/venv